/* Your code here */

ul {
    display: flex;
    margin: 30px auto;
    width: 400px;
    height: 360px;
    flex-wrap: wrap;
}

li {
    background-color: gray;
    width:120px;
    border: 2px solid black;
    list-style-type: none;
}
h1 {
    margin: 30px;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

li:hover {
    background-color: yellow;
}